.container{
text-align: center;
max-height: 500px;
background-color:#C7CBF3 ;
padding-bottom: 20px;
}

.imgGroup{
  display:flex;
  align-items: center;
  justify-content:center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.img-config{
  margin-left:10px;
  margin-right: 10px;
}

.subtitle-config{
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
  font-size: 40px;
  margin-top: 20px;
  font-size: 25px;
  color: #000;
}